
target/

.idea/

*.iml
*.eml
*.userlibraries

.settings/
  
.project 
 
.classpath
.mymetadata
/b2b-shop/v1.0/b2b-shop-web/.externalToolBuilders
/b2b-delivery-center/v1.0/b2b-delivery-center/b2b-delivery-center-web/.mymetadata
/b2b-item-center/v1.0/b2b-item-center-web/.mymetadata
/b2b-shop-center/v2.0/b2b-shop-center-web/.mymetadata
/b2b-shop/v1.0/b2b-shop-web/.mymetadata
/b2b-platform-center/v1.1/b2b-platform-center/b2b-platform-center-web/.mymetadata
/b2b-platform/v1.1/b2b-platform/b2b-platform-web/.mymetadata
/b2b-platform/v1.1/b2b-platform/b2b-platform-web/.externalToolBuilders
/b2b-delivery-center/v1.0/b2b-delivery-center/b2b-delivery-center-worker/.mymetadata


.idea/
node_modules/
*.iml
webpack-stats.json
npm-debug.log
*.swp
npm-debug.log.*

