{% extends 'layout.html' %}
{% block css %}
<link href="{{css.goodsrlease}}" rel="stylesheet" type="text/css" charSet="UTF-8"/>
{% endblock %}
{% block js %}
<link rel="stylesheet" type="text/css" href="/operating-item-view/ueditor/themes/default/_css/ueditor.css" />
<script src="/operating-item-view/ueditor/ueditor.config.js" charSet="UTF-8"></script>
<script src="/operating-item-view/ueditor/ueditor.all.min.js" charSet="UTF-8"></script>
<script src="/operating-item-view/ueditor/lang/zh-cn/zh-cn.js" charSet="UTF-8"></script>
<script src="{{js.goodsrlease}}" charSet="UTF-8" ></script>
{% endblock %}
